<!DOCTYPE html>
<head>
	<title>PCAP Analysis Challenge</title>
</head>

<body>
	<h1>PCAP Analysis Challenge</h1>
	<p>
	<img src="/static/hackerman.jpg" width="401">
	</p>
	<p>
	<h2>Mission</h2>
	Analyze this malicious script and figure out what it does. Your support team was able to recover some network traffic from the compromised system, which may be helpful in analyzing the malware. Your goal is to recover a "flag" which looks something like this: <pre>dam{w0w_w3_solv3d_1t!}</pre>. With this flag we’ll be able to stop the hackers and secure our computer systems.
	</p>
	<p>
	To finish your mission, you'll need these two files:
	<ul>
		<li><a href="/static/evidence.pcapng">evidence.pcapng</a></li>
		<li><a href="/static/mal.sh.txt">mal.sh.txt</a></li>
	</ul>
	</p>
	<h2>Tools</h2>
	<p>
	You may find these tools helpful in your mission:
	<ul>
		<li><a href="https://gchq.github.io/CyberChef/" target="_blank">CyberChef</a></li>
		<!--<li><a href="https://apackets.com" target="_blank">PCAP analyzer</a></li>-->
		<li><a href="/pcap" target="_blank">PCAP analyzer</a></li>
		<li><a href="/python" target="_blank">Python decompiler</a></li>
	</p>
</body>
